<!DOCTYPE html>
<html>
<head>
	<title>Welcome Page</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<h1>Counter</h1>
			<%=number%>
	<form action="/increment" method="post">
		<input type="submit" value="+2">
	</form>

	<form action="/reset" method="post">
		<input type="submit" value="reset">
	</form>



</body>
</html>