<!DOCTYPE html>
<html>
<head>
	<title>Welcome Page</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<form action="/users" method="post"></form>
	Name:<input type="text" name="name">
	<input type="submit" name=submit"">


</body>
</html>